Source: gearman
Section: perl
Priority: optional
Maintainer: Pavel Skaldin <pskaldin@sixapart.com>
Build-Depends: debhelper (>= 4.0.0)
Standards-Version: 3.6.2

Package: gearmand
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libgearman-perl
Description: Perl-based distributed job processing framework
 Gearman is an open-source, scalable, distributed job processing framework
 written in Perl. Jobs are submitted to one or more job servers where they are
 given to workers for execution. The system allows worker processes to run on
 any number of machines, which may have hardware specializations. Simple Client
 and Worker APIs support incremental status updates and parallel task
 completion. The system was designed to efficiently distribute expensive
 computations across a farm of workers in order to meet the asynchronous
 processing demands of LiveJournal.com.
 .
 This package provides the Gearman Server.

Package: libgearman-perl
Architecture: any
Depends: ${perl:Depends}, libdanga-socket-perl, perl-doc
Description: Supporting perl libraries for gearmand
 Gearman is an open-source, scalable, distributed job processing framework
 written in Perl. Jobs are submitted to one or more job servers where they are
 given to workers for execution. The system allows worker processes to run on
 any number of machines, which may have hardware specializations. Simple Client
 and Worker APIs support incremental status updates and parallel task
 completion. The system was designed to efficiently distribute expensive
 computations across a farm of workers in order to meet the asynchronous
 processing demands of LiveJournal.com.
 .
 This package provides supporting perl libraries for Gearman Server.

Package: gearman-worker
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ${perl:Depends}, libgearman-perl
Description: Worker module for gearmand
 Gearman is an open-source, scalable, distributed job processing framework
 written in Perl. Jobs are submitted to one or more job servers where they are
 given to workers for execution. The system allows worker processes to run on
 any number of machines, which may have hardware specializations. Simple Client
 and Worker APIs support incremental status updates and parallel task
 completion. The system was designed to efficiently distribute expensive
 computations across a farm of workers in order to meet the asynchronous
 processing demands of LiveJournal.com.
 .
 This package provides the Gearman Worker.

Package: gearman-client
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ${perl:Depends}, libgearman-perl
Description: Client module for gearmand
 Gearman is an open-source, scalable, distributed job processing framework
 written in Perl. Jobs are submitted to one or more job servers where they are
 given to workers for execution. The system allows worker processes to run on
 any number of machines, which may have hardware specializations. Simple Client
 and Worker APIs support incremental status updates and parallel task
 completion. The system was designed to efficiently distribute expensive
 computations across a farm of workers in order to meet the asynchronous
 processing demands of LiveJournal.com.
 .
 This package provides the Gearman Client.

